html {
  background-color: #151618;
}

body {
  max-width: 1024px;
  margin: 0 auto;
  padding: 12px;
  color: #a9abbc;
}

.title {
  text-align: center;
  font-size: 32px;
  margin: 36px 0;
}

.month {
  font-size: 24px;
  text-align: center;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin: 12px 0px;
}

.month-button {
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
}

.prev {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(254, 212, 117, 1)),
    to(rgba(229, 61, 93, 1))
  );
  background-image: -webkit-linear-gradient(
    left,
    rgba(254, 212, 117, 1) 0%,
    rgba(229, 61, 93, 1) 100%
  );
  background-image: linear-gradient(
    to right,
    rgba(254, 212, 117, 1) 0%,
    rgba(229, 61, 93, 1) 100%
  );
}

.next {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#007adf),
    to(#00ecbc)
  );
  background-image: -webkit-linear-gradient(left, #007adf 0%, #00ecbc 100%);
  background-image: linear-gradient(to right, #007adf 0%, #00ecbc 100%);
}

.month-button:hover {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  color: #fff;
}

@media screen and (min-width: 768px) {
  .game-table {
    border-collapse: collapse;
    background-color: rgba(15, 14, 71, 0.3);
  }
  .game-list {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .game-table {
    display: none;
  }
}

.game-table td {
  width: 200px;
  height: 200px;
  border: 1px solid gainsboro;
  padding: 8px;
}

.game-table td .day {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  color: white;
}

.game-table td .games {
  margin-top: 12px;
}
